<!DOCTYPE html>
<html>
	<head>
		<title class="language">法派1855微商城</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
		<meta content="no-cache" http-equiv="pragma">
        <link rel="icon" href="images/favicon.ico" />
		<meta content="telephone=no, address=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<script src="http://qcdn.letwx.com/app/libs/oauth.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
		<script src="js/languagepack.js"></script>
        <script src='js/jsonp.js'></script>
		<script src="js/config.js"></script>
        <script src="js/vue.js"></script>
		<script src="js/component.js"></script>
		<script src="js/cities.js"></script>
		<link rel="stylesheet" type="text/css" href="css/static.css">
        <link rel="stylesheet" type="text/css" href="css/same.css">
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
	</head>
	<body>
        <section class='container container-footer hide'>
			<div class="languageBox">
				<img class="abs-v-center" src="images/logo.png" alt=""/>
				<ul class="abs-v-center">
					<li v-on:touchend="toggleLang('cn')" :class="lang_cn=='cn'?'active':''">中</li>
					<li v-on:touchend="toggleLang('en')" :class="lang_cn=='en'?'active':''">EN</li>
				</ul>
			</div>

			<div class="swiper-container rel w-100">
				<div class="pagination"></div>
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="images/swiper_1.jpg" alt=""/>
					</div>
					<div class="swiper-slide">
						<img src="images/swiper_2.jpg" alt=""/>
					</div>
					<div class="swiper-slide">
						<img src="images/swiper_3.jpg" alt=""/>
					</div>
				</div>
			</div>

			<div class="searchBox margin-10 hidden rel">
				<img class="abs-v-center" src="images/icon_search.png" alt=""/>
				<input v-on:input="inputHandle($event)" type="text" placeholder="search……"/>
			</div>

			<div class="padding-h-10 margin-bottom-10" v-for="v in cateArr" v-if="!params.keyword && pageData.length
			&& v.goodsnum != 0 && (showAll || (!showAll && v.id != 1 && v.id != 2 && v.id != 16))">
				<div class="hidden bg-white padding-10">
					<p class="f-l language">{{v.name}}</p>
					<p v-on:touchend="jumpGoodList(v.name, v.id)" class="f-r color-orange"><span class="language">更多</span>&gt;</p>
				</div>
				<ul class="goodList goodListLimit bg-white">
					<li v-for="item in pageData" v-if="(item.category_id == v.id)" v-on:click="jumpGoodDetail(item.id)">
						<div>
							<img :src="item.cover" alt=""/>
						</div>
						<h6 class="name_amend">{{item.name}}</h6>
						<p><img class="festivalUse" src="images/festivalUse.png" alt="">&yen;{{item.price}}</p>
					</li>
				</ul>
			</div>

			<div class="padding-h-10 margin-bottom-10" v-if="params.keyword && pageData.length">
				<ul class="goodList goodListFuck bg-white">
					<li v-for="item in pageData" v-if="showAll || (!showAll && item.category_id != 1 && item.category_id != 2)" v-on:click="jumpGoodDetail(item.id)">
						<div>
							<img :src="item.cover" alt=""/>
						</div>
						<h6 class="name_amend">{{item.name}}</h6>
						<p><img class="festivalUse" src="images/festivalUse.png" alt="">&yen;{{item.price}}</p>
					</li>
				</ul>
			</div>

			<vue-footer index="0" :show-all="showAll" :cart-num="cartNum" :cate-arr="cateArr"></vue-footer>

			<div class="m-pop cityBox" v-show="cityBoxShow">
				<div class="abs-center">
					<h6>请选择您的地址所在地</h6>
					<h6 class="font-news">Please select your address</h6>
					<ul>
						<li v-on:click="selectCity(item.city, item.showAll)" :class="city==item.city?'selected':''" v-for="item in cityList">
							{{item.city}}
							<img v-show="city==item.city" src="images/icon_selected.png" alt="">
						</li>
					</ul>
					<button v-on:click="cityHandle()" class="language button-defalut">OK</button>
				</div>
			</div>
        </section>

		<script src="http://qcdn.letwx.com/app/libs/one.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>
