<!DOCTYPE html>
<html>
	<head>
		<title class="language">法派1855微商城</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
		<meta content="no-cache" http-equiv="pragma">
        <link rel="icon" href="images/favicon.ico" />
		<meta content="telephone=no, address=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<script src="http://qcdn.letwx.com/app/libs/oauth.min.js"></script>
		<script src="js/languagepack.js"></script>
        <script src='js/jsonp.js'></script>
		<script src="js/config.js"></script>
        <script src="js/vue.js"></script>
		<script src="js/component.js"></script>
		<link rel="stylesheet" type="text/css" href="css/static.css">
        <link rel="stylesheet" type="text/css" href="css/same.css">
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <link rel="stylesheet" type="text/css" href="css/invoice.css">
	</head>
	<body>
        <section class='container hide'>
			<vue-nav jump-new="1" v-on:jumpnew="jumpNew()" desc="编辑发票"></vue-nav>

			<h6 class="title language">发票类型</h6>
			<div class="padding-10 bg-white border-v">
				<ul class="selectCommon">
					<li v-on:click="typeHandle('normal')" :class="params.type=='normal'?'selected':''" class="language margin-right-10">增值税普通发票</li>
					<li v-on:click="typeHandle('special')" :class="params.type=='special'?'selected':''" class="language">增值税专用发票</li>
				</ul>
				<p class="language color-yellow margin-top-10">开票金额不包括优惠券支付部分</p>
			</div>

			<div v-show="params.type=='normal'">
				<!--增值税普通发票盒子-->
				<h6 class="title language border-bottom">发票抬头</h6>
				<ul class="userTypeBox bg-white padding-10">
					<li v-on:click="userTypeHandle('customer')" class="margin-right-20">
						<span :class="params.user_type=='customer'?'r-selected':''" class="r-origin"></span>
						<span class="language">个人</span>
					</li>
					<li v-on:click="userTypeHandle('company')">
						<span :class="params.user_type=='company'?'r-selected':''" class="r-origin"></span>
						<span class="language">单位</span>
					</li>
				</ul>
				<ul v-show="params.user_type=='company'" class="commonBox">
					<li>
						<span class="title language">单位名称</span>
						<input type="text" v-model="params.user_title" class="language" placeholder="请输入"/>
					</li>
					<li class="border-none">
						<span class="title language">纳税人识别码</span>
						<input type="text" v-model="params.company_unit" class="language" placeholder="请输入"/>
					</li>
				</ul>
			</div>

			<div v-show="params.type=='special'">
				<!--增值税专用发票盒子-->
				<h6 class="title language border-bottom">填写核对公司信息</h6>
				<ul class="commonBox">
					<li>
						<span class="title language">单位名称</span>
						<input type="text" v-model="params.company_name" class="language" placeholder="请输入"/>
					</li>
					<li>
						<span class="title language">纳税人识别码</span>
						<input type="text" v-model="params.company_unit" class="language" placeholder="请输入"/>
					</li>
					<li>
						<span class="title language">注册地址</span>
						<input type="text" v-model="params.company_address" class="language" placeholder="请输入"/>
					</li>
					<li>
						<span class="title language">注册电话</span>
						<input type="text" v-model="params.company_tel" class="language" placeholder="请输入"/>
					</li>
					<li>
						<span class="title language">开户银行</span>
						<input type="text" v-model="params.company_bank" class="language" placeholder="请输入"/>
					</li>
					<li class="border-none">
						<span class="title language">银行账户</span>
						<input type="text" v-model="params.company_bank_info" class="language" placeholder="请输入"/>
					</li>
				</ul>
			</div>

			<h6 class="title language border-v">发票内容</h6>
			<div class="padding-10 bg-white">
				<ul class="contentBox selectCommon">
					<li v-on:click="contentHandle(1)" :class="params.content=='1'?'selected':''" class="language margin-right-10">食品</li>
					<li v-on:click="contentHandle(2)" :class="params.content=='2'?'selected':''" class="language">蛋糕</li>
				</ul>
			</div>

			<div class="t-c margin-top-20">
				<button v-on:click="sureHandle()" class="button-defalut language">确定</button>
			</div>
        </section>

		<script src="http://qcdn.letwx.com/app/libs/one.js"></script>
		<script type="text/javascript" src="js/invoice.js"></script>
	</body>
</html>
