<!DOCTYPE html>
<html>
	<head>
		<title class="language">法派1855微商城</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
		<meta content="no-cache" http-equiv="pragma">
        <link rel="icon" href="images/favicon.ico" />
		<meta content="telephone=no, address=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<script src="http://qcdn.letwx.com/app/libs/oauth.min.js"></script>
		<script src="js/languagepack.js"></script>
        <script src='js/jsonp.js'></script>
		<script src="js/config.js"></script>
        <script src="js/vue.js"></script>
		<script src="js/component.js"></script>
		<link rel="stylesheet" type="text/css" href="css/static.css">
        <link rel="stylesheet" type="text/css" href="css/same.css">
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <link rel="stylesheet" type="text/css" href="css/order-coupon.css">
	</head>
	<body>
        <section class='container hide'>
			<vue-nav jump-new="1" v-on:jumpnew="jumpNew()" desc="我的优惠券"></vue-nav>

			<button class="language addBtn" v-on:click="addHandle()">添加优惠券</button>
			<div v-if="pageData && pageData.length">
				<ul class="couponList">
					<li v-for="item in pageData" class="use" v-on:click="selectHandle($event, item)">
						<h6>{{item.qname}}</h6>
						<p class="desc">{{item.descrip}}</p>
						<p><span>有效期</span>：{{item.starttime}}-{{item.endtime}}</p>
						<img :class="order.couponlogid==item.couponlogid?'show':''" src="images/icon_selected.png" alt=""/>
					</li>
				</ul>

				<div class="t-c margin-top-20">
					<button v-on:click="jumpOrderCreate()" class="button-defalut language">确定</button>
				</div>
			</div>

			<div class="m-pop inputBox" v-if="inputBoxShow">
				<div class='abs-center'>
					<h6 class='language'>请输入券码</h6>
					<input v-model="params.couponNo" type="text">
					<p class="hidden">
						<button v-on:click="cancelHandle()" class='language color-gray'>取消</button>
						<button v-on:click="sureHandle()" class='language color-orange'>确定</button>
					</p>
				</div>
			</div>
        </section>

		<script src="http://qcdn.letwx.com/app/libs/one.js"></script>
		<script type="text/javascript" src="js/order-coupon.js"></script>
	</body>
</html>
