<!DOCTYPE html>
<html>
	<head>
		<title class="language">法派1855微商城</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
		<meta content="no-cache" http-equiv="pragma">
        <link rel="icon" href="images/favicon.ico" />
		<meta content="telephone=no, address=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<script src="http://qcdn.letwx.com/app/libs/oauth.min.js"></script>
		<script src="js/languagepack.js"></script>
        <script src='js/jsonp.js'></script>
		<script src="js/config.js"></script>
        <script src="js/vue.js"></script>
		<script src="js/component.js"></script>
		<link rel="stylesheet" type="text/css" href="css/static.css">
        <link rel="stylesheet" type="text/css" href="css/same.css">
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <link rel="stylesheet" type="text/css" href="css/remain.css">
	</head>
	<body>
        <section class='container hide'>
			<vue-nav desc="我的余额"></vue-nav>

			<div v-if="pageData">
				<h3>
					<span class="language">我的余额</span>
					<span class="color-orange">&yen;</span>
					<span class="color-orange">{{pageData.cash}}</span>
				</h3>
				<ul class="tabBox">
					<li v-on:touchend="toggleHandle(0)" :class="payscene==0?'selected':''"><span class="language">所有</span></li>
					<li v-on:touchend="toggleHandle(301)" :class="payscene==301?'selected':''"><span class="language">余额充值</span></li>
					<li v-on:touchend="toggleHandle(302)" :class="payscene==302?'selected':''"><span class="language">余额消费</span></li>
				</ul>
				<ul class="record">
					<!--所有-->
					<li class="rel" v-for="item in pageData.cashlog" v-if="payscene == 0">
						<p class="language font-16 margin-bottom-10">{{item.payscene==302?'消费记录':'充值记录'}}</p>
						<p class="font-12">{{item.pay_time}}</p>
						<span v-if="item.payscene==302" class="abs-v-center color-green font-20">-{{item.feePaid}}</span>
						<span v-if="item.payscene!=302" class="abs-v-center color-red font-20">+{{item.feePaid}}</span>
					</li>
					<!--充值-->
					<li class="rel" v-for="item in pageData.cashlog" v-if="payscene != 0 && payscene == 301 && (item.payscene == 301 || item.payscene == 901)">
						<p class="language font-16 margin-bottom-10">充值记录</p>
						<p class="font-12">{{item.pay_time}}</p>
						<span class="abs-v-center color-red font-20">+{{item.feePaid}}</span>
					</li>
					<!--消费-->
					<li class="rel" v-for="item in pageData.cashlog" v-if="payscene != 0 && payscene == 302 && item.payscene == 302">
						<p class="language font-16 margin-bottom-10">消费记录</p>
						<p class="font-12">{{item.pay_time}}</p>
						<span class="abs-v-center color-green font-20">-{{item.feePaid}}</span>
					</li>
				</ul>
			</div>
        </section>

		<script src="http://qcdn.letwx.com/app/libs/one.js"></script>
		<script type="text/javascript" src="js/remain.js"></script>
	</body>
</html>
