<!DOCTYPE html>
<html>
	<head>
		<title>个贷-客户经理</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
		<meta content="no-cache" http-equiv="pragma">
		<meta content="telephone=no, address=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<script src="http://zxcdn.letwx.com/app/libs/oauth.min.js?v=20160712"></script>
		<script src="js/vue.js"></script>
		<script src="js/config.js"></script>
		<link rel="stylesheet" type="text/css" href="css/same.css" />
		<link rel="stylesheet" type="text/css" href="css/static.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/login.css" />
	</head>
	<body>
        <section id='loginPage' class='hide'>
        	<div class='abs-center w-100 t-c'>
        		<img class='logo' src="images/logo.png">
        		<ul>
        			<li class='rel'>
        				<input class='wh-100' onkeyup="this.value=this.value.replace(/\s+/g,'')" v-model="params.account" type="text" placeholder="请输入账号">
        				<img class='abs-v-center' src="images/icon_personal.png">
        			</li>
        			<li class='rel'>
        				<input class='wh-100' onkeyup="this.value=this.value.replace(/\s+/g,'')" v-model="params.password" type="password" placeholder="请输入密码">
        				<img class='abs-v-center' src="images/icon_password.png">
        			</li>
        		</ul>
        		<button v-on:touchend="loginHandle()" class='button-default'>登录</button>
        	</div>
        </section>
        
		<script src="http://zxcdn.letwx.com/app/libs/one.js"></script>
		<script type="text/javascript" src="js/login.js"></script>
	</body>
</html>
