<!DOCTYPE html>
<html>
<head>
	<title>中信按揭</title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link rel="stylesheet" href="//at.alicdn.com/t/font_564026_vn6k1awh238tzkt9.css">
	<script src="//at.alicdn.com/t/font_564026_vn6k1awh238tzkt9.js"></script>
	<script src="https://cdn.bootcss.com/require.js/2.3.5/require.min.js"></script>
	<script src="js/config.js"></script>
	<link rel="stylesheet" href="css/same.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/workflow.css">
</head>
<body>
<section class='container hide' v-if="pageData">
	<nav>
		<i v-on:touchend="historyHandle()" class="iconfont icon-back"></i>
		<span>工作流详情</span>
	</nav>
	<div class="t-c titleBox">
		<img src="images/icon_state.png" alt=""/>
		<p>当前状态</p>
	</div>
	<ul class="stateBox">
		<li v-for="(item, index) in pageData" v-bind:class="index==0?'active':''">
			<div>
				<p></p>
				<p></p>
			</div>
			<div>
				<p class="font-14">{{item.status}}</p>
				<p class="font-13 light">操作时间：{{item.datetime}}</p>
				<p>
					<span class="font-13 light">操作人：{{item.operater}}</span>
					<button v-show="item.issues.length" v-on:touchend="jumpIssue(item.issues)" class="f-r">问题查看</button>
				</p>
			</div>
		</li>
	</ul>
</section>
<script type="text/javascript" src="js/workflow.js"></script>
</body>
</html>
