<!DOCTYPE html>
<html>
	<head>
		<title>个贷-第三方渠道</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
		<meta content="no-cache" http-equiv="pragma">
		<meta content="telephone=no, address=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<script src="http://zxcdn.letwx.com/app/libs/oauth.min.js?v=20160712"></script>
		<script src="js/vue.js"></script>
		<script src="js/config.js"></script>
		<link rel="stylesheet" type="text/css" href="css/same.css" />
		<link rel="stylesheet" type="text/css" href="css/static.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/new-building.css" />
	</head>
	<body>
		<section id='newBuildingPage' class='hide container'>
			<nav>
				<img class="icon_back" v-on:touchend="historyHandle()" src="images/icon_back.png">
				<span>楼盘信息</span>
				<img class="icon_home" v-on:touchend="homeHandle()" src="images/icon_home.png" alt=""/>
			</nav>
			<div class="searchCommon">
				<div>
					<input type="text" v-model="keyword" placeholder="请输入小区名称"/>
					<img class="abs-v-center" src="images/icon_search.png" alt=""/>
				</div>
				<button v-on:touchend="searchHandle()" class="button-default">搜索</button>
			</div>
			<ul v-if="list" class="commonBox">
				<li v-for="item in list" v-on:click="goNewUnit(item.id, item.name)">
					<span class="title">{{item.name}}</span>
				</li>
			</ul>
		</section>

		<script src="http://zxcdn.letwx.com/app/libs/one.js"></script>
		<script type="text/javascript" src="js/new-building.js"></script>
	</body>
</html>
