.container{
	padding-left: 0;
	padding-right: 0;
	padding-top: 45px;
}
.searchBox{
	padding: 20px;
}
.searchBox input{
	border: none;
	border-bottom: 1px solid #ccc;
	padding-left: 80px;
	padding-right: 30px;
}
.searchBox select{
	top: calc(50% - 1px);
	left: 20px;
	outline: none;
	border: none; 
}
.searchBox img{
	right: 20px;
	width: 18px;
	margin: 0 6px;
}
h6{
	line-height: 2.4rem;
	font-size: 1.5rem;
	color: #d80109;
}
.stateBox{
	padding: 0 20px 10px 20px;
	color: #999;
}
.stateBox li{
	float: left;
	line-height: 2rem;
	width: 30%;
}
.stateBox li.active{
	color: #d80109;
}
.stateBox li:nth-child(3n+2){
	width: 40%;
}

.infoBox{
	margin-top: 10px;
	padding: 0 20px;
}
.infoBox li{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
}
.infoBox li p{
	max-width: calc(100% - 120px);
	margin-bottom: 6px;
}
.infoBox li p:last-child{
	margin-bottom: 0;
}
.infoBox li span{
	right: 10px;
}
.varyBtn{
	position: fixed;
	width: 54px;
	bottom: 10px;
	right: 10px;
	z-index: 999;
}
@keyframes box_run {
	from{
		bottom: 0;
		transform: translateY(100%);
	}
	to{
		bottom: 72px;
	}
}
.detailBox{
	position: fixed;
	right: 20px;
	background: #fff;
	text-align: center;
	animation: box_run .5s linear both;
	z-index: 99;
}
.detailBox ul{
	padding: 0 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #999;
	height: 190px;
	overflow: scroll;
}
.detailBox li{
	line-height: 2.4rem;
	padding: 0 10px;
	border-bottom: 1px solid #ccc;
}
.detailBox li:last-child{
	border-bottom: none;
}
.detailBox i{
	position: absolute;
	display: block;
	padding: 4px;
	background: #fff;
	border: 1px solid #ccc;
	border-left: none;
	border-top: none;
	transform: rotate(45deg);
	bottom: -5px;
	right: 12px;
}
.detailBox li.active{
	color: #d80109;
}