.container{
    padding: 45px 0 20px 0;
}
.titleBox div{
    top: 13%;
}
.titleBox h2{
    color: #fff400;
    font-size: 3.6rem;
}
.titleBox h2 span{
    font-size: 2.4rem;
}
.titleBox p{
    color: #fff;
    font-size: 1.5rem;
    margin-top: 5px;
}
@keyframes gold_run {
    from{
        bottom: 100%;
    }
    to{
        bottom: 20%;
    }
}
.gold{
    width: 90%;
    animation: gold_run .6s linear both;
}
.hint{
    margin: 40px auto;
    width: calc(100% - 40px);
}
button{
    bottom: 8%;
}
