.moneyBox{
    padding: 10px 20px;
    line-height: 2.4rem;
    border-radius: 5px;
}
.moneyBox span{
    color: #6194fd;
}
table{
    font-size: 1.3rem;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
table tr{
    height: 3rem;
    border-bottom: 1px solid #ccc;
}
table th{
    font-weight: 500;
}
table button{
    height: 24px;
    font-size: 1.4rem;
    border-radius: 12px;
    padding: 0 12px;
    background: #eee5e5;
    color: #373b3c;

}