* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*处理表单元素点击样式，专用于chrome内核*/
}

*:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    -webkit-user-select: none; /*文本不能被选择*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    font-family: "Microsoft YaHei", arial, 'Lato', Calibri, Arial, sans-serif;
    -webkit-text-size-adjust: none; /*文本大小不会根据设备尺寸进行调整*/
}

/*修改默认滚动条样式，去掉滚动条*/
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

ul, li {
    list-style-type: none;
}

img {
    border: none;
    vertical-align: middle;
}

select {
    border: none;
}

audio {
    display: none;
    visibility: hidden;
}

button{
    border: none;
    outline: none;
}

.maskBox{
    position: fixed !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #666;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #666;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #666;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #666;
}

input {
    appearance: none; /*使元素看上去像标准的用户界面元素*/
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-transition: background-color;
    background-color: transparent;
    outline: none;
    border: none;
}

/*input type='checkbox'样式*/
input[type='checkbox'] {
    appearance: checkbox;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -o-appearance: checkbox;
    -ms-appearance: checkbox;
}

/*input type='checkbox'样式*/
input[type='radio'] {
    appearance: radio;
    -webkit-appearance: radio;
    -moz-appearance: radio;
    -o-appearance: radio;
    -ms-appearance: radio;
}

textarea {
    appearance: none; /*使元素看上去像标准的用户界面元素*/
    -webkit-appearance: none;
    outline: none;
    border: none;
    resize: none;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.wh-100 {
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.clear {
    clear: both;
}

.hidden {
    overflow: hidden;
    white-space: nowrap;
}

.hidden-s {
    overflow: scroll;
}

.hidden-e {
    overflow: hidden;
    white-space: nowrap; /*规定段落中的文本不进行换行*/
    text-overflow: ellipsis; /*显示省略符号来代表被修剪的文本*/
}

.hidden-e-r2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*设置多行文本超出隐藏*/
}

.hidden-b {
    overflow: hidden;
    word-break: break-all; /*允许在单词内换行*/
}

.fixed {
    position: fixed;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.abs-h-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.abs-v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.t-c {
    text-align: center;
}

.t-l {
    text-align: left;
}

.t-r {
    text-align: right;
}

/*margin-top造成的bug*/
.append-before:before {
    display: table;
    content: '';
}

/*float对父元素造成的影响*/
.append-after:after {
    display: table;
    content: '';
    clear: both;
}

/*********************************微信端媒体查询*****************************/
/*iphone6 pluse*/
@media only screen and (max-width: 414px) and (max-height: 672px) {
}

/*iphone6*/
@media only screen and (max-width: 375px) and (max-height: 603px) {
}

/*iphone5*/
@media only screen and (max-width: 320px) and (max-height: 504px) {
}

/*iphone4*/
@media only screen and (max-width: 320px) and (max-height: 416px) {
}