ul.selectCommon li{
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #c9c9c9;
}
ul.selectCommon li.selected{
    border-color: #eb7155;
    color: #eb7155;
}

ul.contentBox li{
    padding: 5px 20px;
}

.userTypeBox li{
    display: inline-block;
    line-height: 20px;
}
.userTypeBox li span{
    line-height: 20px;
    vertical-align: middle;
}