.toggleH li{
    width: 25%;
}
.btnBox{
    padding: 10px;
    overflow: hidden;
    background: #fff;
    border-top: 1px solid #c9c9c9;
}
.btnBox button{
    width: auto;
    padding: 0 15px;
    font-size: 1.4rem;
    height: 32px;
}
.btnBox span{
    line-height: 32px;
}